<h3 class="header">
    Criar/Editar aluno
</h3>

<form class="col s12">
    <div class="row">
        <div class="input-field col s12">
            <input placeholder="#" id="id" name="id" type="text" class="validate" [(ngModel)]="aluno.id" disabled>
            <label for="id" class="active">#</label>
        </div>
        <div class="input-field col s12">
            <input type="text"
                   name="nome"
                   id="nome"
                   class="validate"
                   placeholder="Nome completo"
                   [(ngModel)]="aluno.nome"
                   (input)="onInput()"
                   />
            <label for="nome" class="active">Nome</label>
        </div>
        <div class="input-field col s12">
            <input type="text"
                   placeholder="email@endereco.com"
                   name="email"
                   id="email"
                   class="validate"
                   [(ngModel)]="aluno.email"
                   (input)="onInput()"
                   >
            <label for="email" class="active">E-mail</label>
        </div>
    </div>
</form>
